.banner {
  background-image: url(https://source.unsplash.com/6oo3SMGB_Lg/6000×4000);
  background-size: cover;
  background-position: center;
  align-items: center;
  color: white;
  box-shadow: inset 0px 0px 20px #00000069;
}

.banner h1 {
  font-size: 55px;
  margin: 0 auto;
}

.banner h2 {
  font-size: 35px;
  margin: 0 auto;
  margin-bottom: 190px;
}

.banner p {
  color: black;
  opacity: 0.6;
  margin-top: 166px;
}
